<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>JANA ML API</title>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<script src="{{ url_for('static', filename='upload.js') }}"></script>

</head>

<body>
	<div class="login" align="center";>
	
		<h2>Let us Classify an Xray : COVID/NORMAL/PNEUMONIA</h2>
		<h4>Please Upload an Xray Image File</h4>
		
		<form action="{{ url_for('upload')}}" method="post" enctype="multipart/form-data">
			<input type='file' name='file' id='file' onchange="" required />
			<button type="submit" class="btn btn-primary btn-small btn-large" >Upload</button>
			<hr />
			<h3>Uploaded File Preview</h3>
			<br />
				<img class="center" id="blah" src="../static/dummy.jpg" alt="your image" style="height:200px;width:auto;" />
			<br />
			<div id="dvPreview"></div>
			<!--button type="submit" class="btn btn-primary btn-block btn-large" disabled>Predict</button-->
			
		</form>
		
		<br>
	    <br>
	  
		
		
	</div>	
	
</body>
</html>
