<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ML API</title>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
	<div class="login">
		<h2>Uploaded File Prediction</h2>
		
		<form action="{{ url_for('okk')}}" method="post" >
			<br />

				<img class="center" src="{{url_for('static', filename = user_image)}}" alt="User Image" style="height:200px;width:auto;">
				
			<br />
			<h2> {{ prediction_text }} </h2>
			<h4> {{ prediction_percent }} </h4>
			<button type="submit" class="btn btn-primary btn-block btn-large" >Ok</button>
			<a href="{{ url_for('gohome') }}" style="color: white; font-size: 14px; align='right'">Back Home</a>
		</form>
	</div>	
</body>

</html>
