<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>JANA ML API</title>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<script src="{{ url_for('static', filename='upload.js') }}"></script>

</head>

<body>
	<div class="login" align="center";>
	
		<h2>Let us Classify an Image</h2>
		<h4>Uploaded File Preview</h4>
		
		<form action="{{ url_for('predict')}}" method="post" >

			<hr />
			<br />
				<img class="center" src="{{url_for('static', filename = user_image)}}" alt="User Image" style="height:200px;width:auto;">
			<br />
			<div id="dvPreview"></div>
			<button type="submit" class="btn btn-primary btn-block btn-large" >Predict</button>
			
			<input type="hidden" name="myfile" id='myfile' value= {{ user_image }} />
			<a href="{{ url_for('gohome') }}" style="color: white; font-size: 14px; align='right'">Back Home</a>
		</form>
		<br>
	    <br>
	    
	</div>	
	
</body>
</html>
